body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .water-bottle {
    text-align: center;
    background-color:#fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .water-bottle img {
    width: 200px;
    border-radius: 10px;
    
  }
  
  .water-bottle h2 {
    margin-top: 10px;
    color: #333;
  }
  
  .water-bottle p {
    color: #666;
    margin-bottom: 20px;
  }
  
  .water-bottle button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .water-bottle button:hover {
    background-color: #45a049;
  }
  